@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 360px; /* or whatever height you want */
  width: 360px; /* or whatever width you want */
  min-height: 360px;
  min-width: 360px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.font-cascadia {
  font-family: "Cascadia Code", monospace;
  word-spacing: -2px;
}
